<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="tw.com.omnihealthgroup.healthcare"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTENT"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    //自動對焦
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <!-- GCM -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="tw.com.omnihealthgroup.healthcare.permission.RECEIVE"/>

    <permission
        android:name="tw.com.omnihealthgroup.healthcare.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="tw.com.omnihealthgroup.healthcare.permission.C2D_MESSAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- suppress AndroidDomInspection -->
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/ThemeHealthCare"
        tools:replace="allowBackup,icon,theme">
        <!--tools:ignore="GoogleAppIndexingWarning"-->

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".myhealthcalendar.AddNewEventActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".myhealthcare.AddMeasureGlucoseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".myhealthcare.AddMeasurePressureActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".myhealthcare.AddMeasureBodyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".myhealthdating.AddNewDatingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".myhealthvideo.VideoEventActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden">
            <!--android:screenOrientation="portrait" //強制豎屏-->
            <!--android:screenOrientation="landscape" //強制橫屏-->
        </activity>
        <activity
            android:name=".mysystemsettings.AddPersonalProfilesActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".mysystemsettings.CameraActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <!-- [START gcm_receiver] -->
        <!--android:exported="true"-->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <!--裝置開機後立即啟動GCM Service-->
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <!--pre-Android4.4使用-->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>

                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>

                <category android:name="tw.com.omnihealthgroup.healthcare"/>
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->

        <!-- [START gcm_listener] -->
        <service
            android:name=".gcm.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </service>
        <!-- [END gcm_listener] -->
        <!-- [START instanceId_listener] -->
        <service
            android:name=".gcm.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <!-- [END instanceId_listener] -->
        <service
            android:name=".gcm.RegistrationIntentService"
            android:exported="false"/>
    </application>
</manifest>
